@import "tailwindcss";
/* @plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
} */

@theme {
  --color-ChatBlue: #2bb3c0;
  --color-ChatBlueLight: #55c2cd;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

body {
  font-family: "Inter";
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto rounded-xl hover:text-white hover:bg-ChatBlueLight cursor-pointer;
  }

  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-ChatBlue text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
  }

  .section-heading {
    @apply max-w-[540px] mx-auto;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .card {
    @apply p-10 rounded-3xl border border-[#222222]/10 shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }
}
