<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>ChatHaven | Verify Email</title>
  </head>
  <body style="margin: 0">
    <center
      class="wrapper"
      style="
        width: 100%;
        table-layout: fixed;
        background-color: #e1e5e8;
        padding-bottom: 60px;
      "
    >
      <table
        class="main"
        width="100%"
        style="
          border-spacing: 0;
          width: 100%;
          max-width: 600px;
          color: #44413d;
          font-family: 'Poppins', Arial, Helvetica, sans-serif;
          text-align: center;
        "
      >
        <!-- LOGO -->
        <tr>
          <td style="padding: 0">
            <table width="100%" style="border-spacing: 0">
              <tr>
                <td style="padding: 25px 0 0; text-align: center">
                  <a href="https://chathaven.app"><img
                      src="https://api.chathaven.app/public/email_assets/logo_transparent.png"
                      alt="ChatHaven"
                      width="190"
                      style="border: 0"
                    /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- BODY -->
        <tr>
          <td style="padding: 0; background-color: #fff">
            <table width="100%" style="border-spacing: 0">
              <tr>
                <td style="padding: 0 0 20px; text-align: center">
                  <a href="#"><img
                      src="https://api.chathaven.app/public/email_assets/verify.png"
                      alt=""
                      width="600"
                      style="border: 0; max-width: 100%"
                    /></a>
                </td>
              </tr>
              <!-- Image -->
              <tr>
                <td style="padding: 0; text-align: center">
                  <h1 style="font-size: 25px; margin: 0">Verify Your Email</h1>
                </td>
              </tr>
              <!-- Heading -->

              <tr>
                <td style="padding: 15px 0 0; text-align: center">
                  <h3 style="font-size: 16px; font-weight: 400; margin: 0">
                    Welcome
                    {{name}}, you're 99% done!
                  </h3>
                </td>
              </tr>
              <!-- Text 1 -->
              <tr>
                <td style="padding: 5px 0 15px; text-align: center">
                  <p style="font-size: 16px; line-height: 28px; margin: 0">
                    Click the button below to verify your email.
                  </p>
                </td>
              </tr>
              <!-- Text 2 -->
              <tr>
                <td style="padding: 10px 0 50px; text-align: center">
                  <a href="{{verificationLink}}"><img
                      src="https://api.chathaven.app/public/email_assets/VerifyButton.png"
                      alt=""
                      width="200"
                      style="border: 0; max-width: 200px"
                    /></a>
                </td>
              </tr>
              <!-- Button -->
            </table>
          </td>
        </tr>

        <!-- FOOTER SECTION -->
        <tr>
          <td style="padding: 0">
            <table width="100%" style="border-spacing: 0">
              <tr>
                <td style="padding: 45px 0 0; text-align: center">
                  <a href="https://github.com/JDhillon24"><img
                      src="https://api.chathaven.app/public/email_assets/github.png"
                      alt=""
                      width="40"
                      style="border: 0"
                    /></a>
                  <a href="https://www.linkedin.com/in/jdhillon24/"><img
                      src="https://api.chathaven.app/public/email_assets/linkedin.png"
                      alt=""
                      width="40"
                      style="border: 0"
                    /></a>

                  <p style="padding: 5px 0 0">
                    <a
                      href="https://chathaven.app"
                      style="
                        text-decoration: none;
                        color: black;
                        font-size: 15px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                      "
                    >chathaven.app
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- End Main Class -->
    </center>
    <!-- End Wrapper -->
  </body>
</html>